<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstore</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .styled-link {
            color: black;
            text-decoration: none;
        }

        .styled-link:hover {
            color: #2c8931;
            text-decoration: none;
        }

        .styled-link-x {
            color: darkred;
            text-decoration: none;
        }

        .styled-link-x:hover {
            color: #f11014;
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    <ul class="nav nav-fill mt-3 mb-2">
        <li class="nav-item">
            <h1 class="navbar-brand align-top">📚 &nbsp;<a href="/" class="styled-link">Livraria</a></h1>
        </li>
        <li class="nav-item">
            <h3 class="pr-5"><a href="/" class="styled-link-x">&times;</a></h3>
        </li>
    </ul>
    <hr>
</header>
<main>
    <div class="container">
        <form th:action="@{/save}" th:object="${new_book}" method="post">
            <div class="form-group">
                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-3">
                        <label for="title" class="ml-1 col-form-label">Título <span class="text-danger">⁕</span></label><br/>
                        <input type="text"
                               th:class="${#fields.hasErrors('title') ? 'form-control is-invalid' : 'form-control'}"
                               id="title" th:field="*{title}" placeholder="Título do livro"/>
                        <div th:class="${#fields.hasErrors('title')} ? 'invalid-tooltip' : 'valid-tooltip'">
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="subtitle" class="ml-1 col-form-label">Subtítulo</label><br/>
                        <input type="text"
                               th:class="${#fields.hasErrors('subtitle') ? 'form-control is-invalid' : 'form-control'}"
                               id="subtitle" th:field="*{subtitle}"
                               placeholder="Subtítulo do livro"/>
                        <div th:class="${#fields.hasErrors('subtitle')} ? 'invalid-tooltip' : 'valid-tooltip'">
                            <span th:if="${#fields.hasErrors('subtitle')}" th:errors="*{subtitle}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-5">
                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-3">
                        <label for="author" class="ml-1 col-form-label">Autor <span class="text-danger">⁕</span></label><br/>
                        <input type="text"
                               th:class="${#fields.hasErrors('author') ? 'form-control is-invalid' : 'form-control'}"
                               id="author" th:field="*{author}" placeholder="Nome do autor"/>
                        <div th:class="${#fields.hasErrors('author')} ? 'invalid-tooltip' : 'valid-tooltip'">
                            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="language" class="ml-1 col-form-label">Idioma</label><br/>
                        <select id="language" class="form-control" name="language">
                            <option selected value="Português">Escolher ...</option>
                            <option>Português</option>
                            <option>Espanhol</option>
                            <option>Inglês</option>
                            <option>Francês</option>
                            <option>Italiano</option>
                            <option>Português (Portugal)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group mt-5 pt-4">
                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-3">
                        <label for="release_date">Data de lançamento</label><br/>
                        <input type="date" class="form-control" id="release_date" max=""
                               th:field="*{release_date}"/><br/>
                    </div>
                    <div class="col-md-3">
                        <label for="price">Preço <span class="text-danger">⁕</span></label><br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">R$</span>
                            </div>
                            <input type="number" th:class="${#fields.hasErrors('price') ? 'form-control is-invalid' : 'form-control'}" id="price" step="0.1" th:field="*{price}"
                                   placeholder="Valor em reais"/>
                            <div th:class="${#fields.hasErrors('price')} ? 'invalid-tooltip' : 'valid-tooltip'">
                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-1">
                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-6">
                        <label for="description">Descrição</label><br/>
                        <textarea id="description" class="form-control" th:field="*{description}"
                                  rows="2"></textarea><br/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row d-flex justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-block">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    const inputDate = document.querySelector("#release_date");
    const defaultValue = inputDate.getAttributeNode("value");
    const date = new Date().toISOString().substring(0, 10);
    defaultValue.nodeValue = date;
    const max = inputDate.getAttributeNode("max");
    max.value = date;
</script>
</body>
</html>